header h1{
    font-size: 30pt;
    color: white;
    font-family: 'Yuji Boku', serif;
}

header{
    text-align: center;
    background-color: transparent;
    height: auto;
    padding: 10px;
}

.mainNav{
    display: flex;
    justify-content: space-around;
}

.mainNav a{
    color: white;
    text-decoration: none;
    font-size: 15pt;
}
.mainNav a:hover{
    color:#d7cbb1;
}

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Yuji Boku', serif;
    background-color: black;
}

.hero-image {
    background-image: url("Pictures/Wehnallsleep-test.png");
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 84%;
    left: 97%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

main{
    color: white;
    text-align: center;
}


footer {
    display: flex;
    justify-content: center;
}

footer p{
      text-align: center;
      color: white;
      font-family: 'Courier New', Courier, monospace;
}
